table {
	border: solid 1px black;
	width: 766px;
	height: 36px;
	background-color: #000033;
}

.origem {
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	background-color: #FFF;
	color: #280;
}

.titulo {
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	background-color: #FFF;
}

.resumo {
	font-family: Arial;
	font-size: 12px;
	background-color: #FFF;
}

#rodape {
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	text-align: center;
	background-color: #CFB;
}

span:first-of-type {
	text-decoration: underline;
	color: green;
}

span:nth-of-type(2) {
	text-decoration: underline;
	color: purple;
}

span:nth-of-type(3) {
	text-decoration: underline;
	color: green;
}

span:nth-of-type(4) {
	text-decoration: underline;
	color: green;
}


a:link {
	color: #0000FF;
}

a:active {
	color: #AC0B44;
}

a:visited {
	color: #DDC71A;
}

a:hover {
	text-weight: bold;
	color: #AC0B44;
}

p {
	font-family: Arial;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	color: #280
}